<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../components/Bai1.css">
    <title>Bai 1</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="flex-container">
                <div>logo</div>
                <div>search_bar</div>
                <div>menu</div>
                <div>Your Recipe Box</div>
                <div>avatar</div>


            </div>
        </div>
        <div class="section">
            <div class="left">
                <img src="../assets/Filter.jpg" alt="">
            </div>
            <div class="right"></div>

        </div>
        <div class="footer">
            <div class="row"></div>
            <div class="row"></div>

        </div>

    </div>
</body>
</html>